*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Work Sans', sans-serif; */
}


/* header style  */
.header{
    padding: 45px 240px;
    margin-bottom: 80px;
    background: rgba(255, 144, 14, 0.10);
}
.menubar{
    display: flex;
    justify-content: center;

}
.menu-title, .menulist{
    width: 50%;
}
.menu-item{
    display: flex;
    gap: 50px;
    justify-content: end;
}
li{
    list-style: none;
}
.header-content{
    padding-top: 100px ;
}
.head-title{
    color: var(--Dark-01, #131313);
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}
.paragraph{
    color: var(--Dark-03, #727272);
    text-align: center;
    /* font-weight: 400; */
    line-height: 26px;
    margin:30px 0px;
}
.button{
    margin-bottom: 50px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;

}

/* main section  */

.feature-section, .experience{
    padding: 45px 240px;
    display: flex;
}
.features-details {
    padding: 200px 70px;
}
.features-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* section 2 style  */
.experiences{
    display: flex;
}
.love{
    width: 50%;
    padding-right: 140px;
}
.love-enjoy{
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-weight: 700;

}
.card{
    border-radius: 8px;
    padding: 30px;
    margin-bottom:20px ;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.architect-img{
    width: 50%;
}

.button-2{
    margin-bottom: 50px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    padding: 40px 45px;
    margin-top: -170px;
    margin-left: -80px;
  
}
.year{
    color: #FFF;
    text-align: center;
    font-size: 65px;
    font-weight: 700;
}